.mod-panel{
    margin-bottom: 25px;
    background: #fff;
    border: 1px solid #f0f0f099;
    border-radius: 8px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.02);
}
.mod-panel .hd{
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f099;
    line-height: 24px;
}
.mod-panel .hd .title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;  
    color: var(--title-color);
}
.mod-panel .hd::before{
    position: absolute;
    left: 4px;
    top: 50%;
    content: '';
    width: 4px;
    height: 24px;
    background: #2095f2;
    margin-top: -12px;
    border-radius: 3px;
}
.mod-panel .hd .more{
    float: right;
    position: relative;
    padding-right: 20px;
    text-decoration: none;
    color: #999;
}
.mod-panel .hd .more::after{
    position: absolute;
    top: 50%;
    right: 2px;
    content:'';
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    transform: rotate(-45deg);
}
.mod-panel .bd{
    padding: 20px;
}
.mod-panel .bd ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 6px;
    margin-bottom: 25px;
}
.mod-panel .bd li{
    padding: 10px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    line-height: 32px;
    text-align: center;
}
.mod-panel .bd i,.mod-panel .bd span{
    vertical-align: middle;
}
.mod-panel .bd span{
    display: block;
}
.mod-panel .bd .desc{
    border:1px dashed #ccc;
    border-radius: 6px;
    padding: 10px 20px;
    line-height:30px;
}


@media screen and (max-width: 640px) {
    .mod-panel .bd{
        padding: 15px;
    }
    .mod-panel .bd ul{
        grid-template-columns: repeat(2,1fr);
    }
}